
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: #EDE6DD;
    --second-bg-color:#FFD394;
    --font-reg:18px;
    --font-small:14px;
    --font-weight-regular:400;
    --text-color:#1E1928;
    --main-font-famali:"Inter", sans-serif;
    --second-font-famali:"Roboto", sans-serif;
    --text-p-color:#1E1928CC;
  }
